.card-poke{
    margin: 0;
    padding: 0;
    color: black;
    width: 100%;
    max-width: 300px;
    border: 8px solid white;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    transition: .5s;
}
.card-poke:hover{
    box-shadow: 0px 0px 10px white;
    transform: scale(1.02);
    transition: .5s;
}
.card-poke_header{
    width: 100%;
    height: 180px;
    background-color: grey;
    position: relative;
    margin-bottom: 75px;
}
.card-poke img{
    position: absolute;
    width: 80%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.card-poke_name{
    text-transform: capitalize;
    text-align: center;
}
.card-poke_types-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style: none;
}
.card-poke_type{
    text-transform: capitalize;
    position: relative;
}
.card-poke_type:nth-child(2)::before{
    content: '/';
    position: absolute;
    left: -9px;
}
.card-poke_type-label{
    color: #9F9F9F;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
hr{
    position: relative;
    margin: 15px 0;
    color: #9F9F9F;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
}
.card-poke_stat-label{
    color: #9F9F9F;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}
.card-poke_stats-container{
    list-style: none;
    display: grid;
    place-content: center;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-bottom: 15px;
}
.card-poke_stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*responsive laptop L*/

@media (min-width: 1440px){
    .card-poke{
        width: 100%;
        max-width: 450px;
        transition: .5s;
    }
    .card-poke_header{
        height: 250px;
        margin-bottom: 120px;
    }
    .card-poke_name{
        font-size: 30px;
    }
    .card-poke_type{
        font-size: 20px;
        font-weight: 600;
    }
    .card-poke_type-label{
        font-size: 16px;
        font-weight: 500;
    }
    .card-poke_stat-label{
        font-size: 16px;
        font-weight: 500;
    }
    .card-poke_stats-container{
        gap: 15px;
    }
    .card-poke_stat-number{
        font-size: 20px;
        font-weight: 600;
    }
}


/*background color for type*/

.border-normal{
    border-color: rgb(115, 82, 89);
}
.color-normal{
    background: linear-gradient(180.57deg, rgb(115, 82, 89) -45.23%, rgb(186, 112, 127) 158.14%);
}

.border-fighting{
    border-color: rgb(150, 64, 42);
}
.color-fighting{
    background: linear-gradient(180.57deg, rgb(150, 64, 42) -45.23%, rgb(233, 91, 54) 158.14%);
}

.border-flying{
    border-color: rgb(115, 82, 89);
}
.color-flying{
    background: linear-gradient(180.57deg, rgb(115, 82, 89) -45.23%, rgb(186, 112, 127) 158.14%);
}

.border-poison{
    border-color: rgb(91, 49, 132);
}
.color-poison{
    background: linear-gradient(180.57deg, rgb(91, 49, 132) -45.23%, rgb(196, 142, 249) 158.14%);
}

.border-ground{
    border-color: rgb(101, 64, 8);
}
.color-ground{
    background: linear-gradient(180.57deg, rgb(101, 64, 8) -45.23%, rgb(156, 102, 20) 158.14%);
}

.border-rock{
    border-color: rgb(126, 126, 126);
}
.color-rock{
    background: linear-gradient(180.57deg, rgb(126, 126, 126) -45.23%, rgb(185, 185, 186) 158.14%);
}

.border-bug{
    border-color: rgb(74, 182, 72);
}
.color-bug{
    background: linear-gradient(180.57deg, rgb(74, 182, 72) -45.23%, rgb(195, 222, 163) 158.14%);
}

.border-ghost{
    border-color: rgb(50, 53, 105);
}
.color-ghost{
    background: linear-gradient(180.57deg, rgb(50, 53, 105) -45.23%, rgb(90, 97, 221) 158.14%);
}

.border-steel{
    border-color: rgb(94, 115, 108);
}
.color-steel{
    background: linear-gradient(180.57deg, rgb(94, 115, 108) -45.23%, rgb(155, 183, 173) 158.14%);
}

.border-fire{
    border-color: rgb(230, 144, 30);
}
.color-fire{
    background: linear-gradient(180.57deg, rgb(230, 144, 30) -45.23%, rgb(231, 92, 53) 158.14%);
}

.border-water{
    border-color: rgb(131, 185, 255);
}
.color-water{
    background: linear-gradient(180.57deg, rgb(131, 185, 255) -45.23%, rgb(20, 121, 251) 158.14%);
}

.border-grass{
    border-color: rgb(171, 218, 198) ;

}
.color-grass{
    background: linear-gradient(178.92deg, rgb(126, 198, 197) 0.92%, rgb(171, 218, 198) 47.96%, rgb(202, 224, 153) 99.08%);
}

.border-electric{
    border-color: rgb(12, 19, 149);
}
.color-electric{
    background: linear-gradient(180.57deg, rgb(12, 19, 149) -45.23%, rgb(142, 148, 254) 158.14%);
}

.border-psychic{
    border-color: rgb(229, 45, 45);
}
.color-psychic{
    background: linear-gradient(180.57deg, rgb(229, 45, 45) -45.23%, rgb(226, 106, 106) 158.14%);
}

.border-ice{
    border-color: rgb(111, 190, 223);
}
.color-ice{
    background: linear-gradient(180.57deg, rgb(111, 190, 223) -45.23%, rgb(196, 235, 251) 158.14%);
}

.border-dragon{
    border-color: rgb(71, 138, 147);
}
.color-dragon{
    background: linear-gradient(180.57deg, rgb(71, 138, 147) -45.23%, rgb(141, 214, 224) 158.14%);
}

.border-dark{
    border-color: rgb(11, 14, 13);
}
.color-dark{
    background: linear-gradient(180.57deg, rgb(11, 14, 13) -45.23%, rgb(79, 79, 79) 158.14%);
}

.border-fairy{
    border-color: rgb(151, 27, 69);
}
.color-fairy{
    background: linear-gradient(180.57deg, rgb(151, 27, 69) -45.23%, rgb(197, 89, 126) 158.14%);
}